@font-face {
  font-family: 'rg-icon';
  src: url('../rc-icon.woff');
}

body {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'rg-icon', 'serif', 'sans-serif';
}

#content {
}

.margin-x {
  margin: 0 1.5rem;
}

.divider {
  border-bottom: 0.1rem solid #000000;
}

.rakuten-live-logo {
  font-size: 6.5rem;
  font-weight: 800;
  color: #A30014;
  margin: 2rem 1.5rem;
}

.shop-story-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1.5rem;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;  /* Firefox */

  > div {
    margin-right: 2.5rem;
  }
}

.shop-story-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.shop-logo-gradient {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(to right, red, orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-logo {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.shop-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-story-code {
  font-size: 1.4rem;
}

.shop-video-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 4rem 1rem;
  justify-items: center;
}

.shop-video-card {
  position: relative;
}

.shop-video {
  aspect-ratio: 9/16;
  width: calc(100vw / 2 - 4rem);
  border-radius: 5%;
  padding:0 !important;
}

.shop-video-overlay::before {
  content: '';
  z-index: 10;
  width: calc(100vw / 2 - 4rem);
  height: calc((100vw / 2 - 4rem) * 16 / 9); /* 16/9 to the size of the width */
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.shop-video-title {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  bottom: 2.5%;
  color: #ffffff;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 11;
}

.video-detail {
  width: 100%;
}
