@font-face {
  font-family: 'rg-icon';
  src: url('../rc-icon.woff');
}

body {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'rg-icon', 'serif', 'sans-serif';
}

#content {
}

.margin-x {
  margin: 0 1.5rem;
}

.divider {
  border-bottom: 0.1rem solid #000000;
}
