html {
    font-size: 16px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}

.img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#product_showing {
    border-radius: 1rem;
    margin-bottom: 1%;
    background-color: #fbf1f0;
}

#product_notshowing {
    border-radius: 1rem;
    margin-bottom: 1%;
}

#back_to_product a{
    color: #a30014;
    font-size: 2.5rem;
}

#content_img {
    padding: 2%;
    position: relative;
}

.showing {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
    font-size: 2rem;
    background-color: #eb6046;
    padding:0% 4%;
    border-radius: 4rem;
    width: 70%;
    text-align: center;
}

.ask_host {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    color: black;
    font-size: 2rem;
    background-color: white;
    padding:0% 4%;
    border-radius: 4rem;
    opacity: 0.8;
    width: 70%;
    text-align: center;
}

#description{
    padding-top: 7%;
}

#product_name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 1.4rem;
}

#star {
    color: #ffa41c;
    -webkit-text-stroke: 1px #e0812c;
    font-size: 2rem;
}

.cost {
    font-size: 2rem;
    color: #ed4e2d;
}

#shopcart_and_buynow {
    display: flex;
    justify-content: center;
    height: 30%;
}

#shopcart_and_buynow a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee4f30;
    padding: 0% 5%;
    color: white;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
}

#shopcart_and_buynow form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    background-color: #f8e1de;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
}

.bi-cart-fill {
    color: #555555;
    font-size: 2.5rem;
}