{% extends 'team_4_app/base.html' %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/cart_list.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
  <div class='header'>
    <a href='/team-4-app/promotional-video/' rel="noopenner noreferrer">
      <i class="back-button bi bi-arrow-left"></i>
      Back
    </a>
  </div>
  <div class='product-container'>
    {% if product_info_list|length == 0 %}
      <p class='empty-product-message'>Cart is empty :(</p>
    {% endif %}
    {% for cart_item in product_info_list %}
      <div class="product-card">
        <div class="product-item-left">
          <img src={{ cart_item.mediumImageUrls.0 }} alt="product image" />
        </div>
        <div class="product-item-right">
          <p class="product-name">{{ cart_item.itemName }}</p>
          <div class='product-item-bottom-right'>
            <p class="product-price">¥{{ cart_item.itemPrice }}</p>
            <a href='/team-4-app/cart/{{cart_item.cart_id}}/delete' class='product-item-delete-button' rel="noopenner noreferrer">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='footer'>
    <a href='/team-4-app/checkout/' rel="noopenner noreferrer" class='checkout-button'>
      Checkout
    </a>
  </div>
{% endblock %}
