{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
    <div class="container-fluid" id="header">
        <div class="row justify-content-between">
            <div class="col-4" id="back_to_product">
                <a href="/team-4-app/promotional-video/" style="text-decoration:none;" rel="noopenner noreferrer"><i class="bi bi-arrow-left-square-fill"></i> Products </a>
            </div>
            <div class="col-1">
                <a href="/team-4-app/cart/" rel="noopenner noreferrer"><i class="bi bi-cart-fill" id="top_right_icon"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="contents">
        {% for product in products %}
            {% if product.random_float >= 0.5 %}
                <div class="row justify-content-md-center" id="product_showing">
            {% else %}
                <div class="row justify-content-md-center" id="product_notshowing">
            {% endif %}
                <div class="col-4" id='content_img'>
                    <img src="{{ product.mediumImageUrls.0 }}" class="img-fluid" alt="Product Image">
                    {% if product.random_float >= 0.5 %}
                        <div class="showing">
                            <i class="bi bi-soundwave"></i>
                            <span>Showing</span>
                        </div>
                    {% else %}
                        <div class="ask_host">
                            <i class="bi bi-headset"></i>
                            <span>Ask host</span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-8" id="description">
                    <p id="product_name">{{ product.itemName }}</p>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            {% for i in product.reviewAverage %}
                                <span id='star'>★</span>
                            {% endfor %}
                            <p class="cost">¥ {{ product.itemPrice }}</p>
                        </div>
                        <div class="col-6" id='shopcart_and_buynow'>
                            <form method="post" action="">{% csrf_token %}
                                <button type="submit" name="product_id" value="{{product.itemCode}}" class="btn">
                                  <i class="bi bi-cart-fill"></i>
                                </button>
                            </form>
                            <a href="/team-4-app/checkout/oneclick?item_code={{product.itemCode}}" style="text-decoration:none;" rel="noopenner noreferrer">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
